html {
  color: color(colore-testo-principale);
  font-family: $font-family-default;
  /*  font-size: $font-size-base;*/
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

p, li {
  font-size: $font-size-base;
  line-height: $line-height-base;
/*  @media screen and (min-width: $screen-xs-min) {
    font-size: ceil($font-size-base * 1.1);
  }*/
}

small, .small, .small * {
  font-size: 1.5rem;
  color: color(colore-testo-secondario);
}

ol, li {
  padding-bottom: ceil($font-size-base * 0.2);
  padding-top: ceil($font-size-base * 0.2);
}

blockquote, blockquote p {
  font-size: 1.8rem;
  line-height: $line-height-base;
  font-style: italic;
}

/*
 *  Tipografia "responsive"
 *  ------------------------
 *  Riduce le dimensioni degli header
 *  sugli schermi più piccoli
 */
h1, .h1 {
  line-height: $line-height-h1;
  font-weight: 700;
  @media screen and (max-width: $screen-sm) {
    font-size: $font-size-h1-sm;
  }
}
h2, .h2 {
  line-height: $line-height-h2;
  font-weight: 700;
  @media screen and (max-width: $screen-sm) {
    font-size: $font-size-h2-sm;
  }
}
h3, .h3 {
  line-height: $line-height-h3;
  font-weight: 700;
  @media screen and (max-width: $screen-sm) {
    font-size: $font-size-h3-sm;
  }
}
h4, .h4 {
  line-height: $line-height-h4;
  font-weight: 700;
}
h5, .h5 {
  line-height: $line-height-h5;
  font-variant: small-caps;
}
h6, .h6 {
  font-weight: 700;
  line-height: $line-height-h6;
}

h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: ($line-height-computed);
}

/*  Font variants wappers
 *  ---------------------
 */
.font-extra-light {
  font-weight: 200;
}
.font-light {
  font-weight: 300;
}
.font-normal {
  font-weight: 400;
}
.font-semi-bold {
  font-weight: 600;
}
.font-bold {
  font-weight: 700;
}
.font-ultra-bold {
  font-weight: 900;
}
.font-italic {
  font-style: italic;
}
